@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #6641A5;
  background: -webkit-linear-gradient(to right,#FFFFFF, #6641A5);
  background: linear-gradient(to right,#FFFFFF, #6641A5);
}

header > img {
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.meme-form {
  text-align: center;
  padding: 20px;
}

.meme-form > label {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.meme-form .textBox {
  height: 30px;
  width: 300px;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
  border: 3px solid #6641A5;
  border-radius: 5px;
}

.meme > img {
  width: 100%;
}

.meme > h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  text-shadow: 3px black;
  margin: 20px;
  font-size: 60px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #6641A5;
  color: rgb(51, 20, 105);
  background-color: rgb(196, 182, 221);
}

.textBox {
  border: 2px solid  #6641A5;
  margin: 10px;
  border-radius: 10px;
}

.top {
  position: relative;
  top:5%
}

.bottom {
  position: relative;
  top :85%
}


